@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;   
}

body { 
    display: flex;
    justify-content: center; 
    align-items: center ;
    min-height: 100vh;
    background: url(../Assets/fundo-de-papel-de-parede-colorido-embacado-artistico.jpg);
    background-size: cover;
    background-position: center;
    
}
.linha {
    border-bottom: 1px  black solid;
    width: 283px;
    margin-top: 30px;
    margin-left: 35px;
}

.linha p {
    margin-bottom: 20px;
    font-size: 17px;
    opacity: 0.7;
}

.iconi1 {
    width:15px;
    height: 15px;
    position: absolute;
    right: 20px;
    top: 231px;
    margin-right: 30px;
}

.login {
    width: 350px;
    height: 400px;
    border: 3px black;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    backdrop-filter: blur(20px);
    background-color: rgb(232, 232, 232);
    text-align: center;
}

.logo img {
    width: 170px;
    height: 35px;
    padding-top: 70px;
}

.imput {
    margin-left: 40px;
    padding: 10px 100px 10px 10px;
    border-radius: 15px;
    font-size: 14px;
    display: flex;
    outline: none;
    border: 1px solid black;   
    margin-top: 40px;
}

.buttom {
    margin-left: 13px;
    margin-top: 50px;
    padding: 7px 90px;
    border-radius: 15px;
    cursor: pointer;
    background-color: white;
    font-size: 16px;
    border: 1px solid black;
    font-family: "Poppins", serif;
    font-weight: bold;

    &:hover {
        
       background-color: rgb(213, 212, 212);
       transition: 0.5s;
    }
    
}