@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;   
    font-family: 'Poppins', sans-serif;
}

body { 
    display: flex;
    justify-content: center; 
    align-items: center ;
    min-height: 100vh;
    background: url(../../Assets/fundo-de-papel-de-parede-colorido-embacado-artistico.jpg);
    background-size: cover;
    background-position: center;
}

.linha {
    border-bottom: 1px  black solid;
    width: 280px;
    margin-top: 30px;
    margin-left: 45px;
}

.linha p {
    margin-bottom: 20px;
    font-size: 17px;
    opacity: 0.7;
}

.iconi1 {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.login {
    width: 360px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    backdrop-filter: blur(20px);
    background-color: rgb(232, 232, 232);
    text-align: center;
    padding-bottom: 20px;
}

.logo img {
    width: 170px;
    height: 35px;
    padding-top: 40px;
}

.imput {
    margin-left: 40px;
    padding: 10px 100px 10px 10px;
    border-radius: 15px;
    font-size: 14px;
    display: flex;
    outline: none;
    border: 1px solid black;   
    margin-top: 40px;
}

.buttom {
    margin-left: 8px;
    margin-top: 20px;
    padding: 7px 90px;
    border-radius: 15px;
    cursor: pointer;
    background-color: white;
    font-size: 16px;
    border: 1px solid black;
    font-weight: bold;
}

.buttom:hover {
    background-color: rgb(213, 212, 212);
    transition: 0.5s;
}

.esqueci {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}   

.esqueci a {
    text-decoration: none;
    font-size: 14px;
    color: blue;
}

.esqueci a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

.input-box {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.input-box .imput {
    margin-right: 40px;
}

.input-box .iconi1 {
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    cursor: pointer;
}


#contratos {
    width: 300px;
    height: 40px;
    padding-left: 10px;
    margin-left:35px ;
    border-radius: 15px;
    font-size: 14px;
    display: flex;
    outline: none;
    border: 1px solid black;   
    margin-top: 15px;
    cursor: pointer;
}

