* {
    margin: 0;
    padding: 0;
}

body {
    
    font-family: "Roboto", sans-serif;
}

.borda {
   border-bottom:rgb(206, 8, 255) solid 2px ;
   color:  rgba(157, 0, 174, 0.926);
}

.letra {
    color: rgb(0, 0, 0);
    
    &:hover {
         color:  rgba(157, 0, 174, 0.926);
    }
}

.beneficio {
    margin-top: 50px;
    text-align: center;
    font-size: 60px;
    color: rgb(55, 9, 85);
    text-shadow: 1px 1px 2px  rgb(0, 0, 0);
}

.carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slides img {
     width: 100vw;
     height: 690px;
     object-fit: cover;
}

.btn-next {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
      border: none;
      border-radius: 50%;
      font-size: 30px;
      padding: 10px 15px;
      cursor: pointer;
      z-index: 10;
      transition: background 0.3s;
}

.btn-next:hover {
    background: rgba(0, 0, 0, 0.7);
}

.box2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 100px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 420px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.9s ease;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  box-shadow: 8px 3px 10px gray;
  padding: 60px 20px 30px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flip-card-front {
  background-color: rgba(91, 0, 124, 0.926);
  color: white;
}

.flip-card-back {
  background-color: white;
  color: #5b007c;
  transform: rotateY(180deg);
}

.icon-circle {
  position: absolute;
  top: -30px;
  left: 20px;
  background-color: rgb(255, 210, 8);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-circle img {
  width: 80px;
  object-fit: cover;
  backface-visibility: visible;
  transform: translateZ(1px); /* Corrige imagem desaparecendo no flip */
}

.flip-card-front h2,
.flip-card-back h2 {
  margin-top: 60px;
  font-size: 30px;
  font-weight: bold;
}

.flip-card-front p,
.flip-card-back p {
  margin-top: 15px;
  font-size: 25px;
  line-height: 1.4;
  opacity: 0.8;
}


.opcoes {
    margin-top: 100px;
    height: 760px;
    padding-top: 90px;
    text-align: center;
    font-size: 22px;
    color:white ;
    background-image: url(../Inicio/Assets/fundo.png);
    background-size: cover;                  
    background-position: center;             
    background-repeat: no-repeat
}

.box3 {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    gap: 30px;
}

.planos {
    background-color: white;
    width: 330px;
    height: 500px;
    border-radius: 20px;
    flex-direction: column;
}

.planos h2 {
    color: rgb(55, 9, 85);
    font-size: 62px;
    padding-top: 20px;
}

.planos h1 {
    color:  rgba(157, 0, 174, 0.926);
    font-size: 62px;
    padding-top: 20px;
}

.vantagens {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.setas {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.setas img {
    width: 26px;
    height: 26px;
}

.text {
    display: flex;
    flex-direction: column;
    color: black;
    gap: 15px;
    padding-left: 10px;
}

.planos button {
    text-align: center;
    padding: 8px 70px;
    border-radius: 20px;
    margin-top: 60px;
    background-color: rgb(255, 210, 8);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border: none;
        
    
    &:hover {
        background-color: rgb(255, 210, 8);
        color: #690e87;
    }
}
.bassico button{
    margin-top: 100px;
}

.box4 {
    background-color: #DBD9F9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
    height: 800px;
}

.cell img {
    width: 624px;
    height: 624px;
    padding-left:100px;
    margin-top: 70px;
}

.box5 {
    display: flex;
    flex-direction: column;
    gap: 100px;
}


.abaixe h2 {
    font-size: 60px;
    padding-left: 40px;
}

.abaixe p {
    font-size: 30px;
    margin-left: 40px;
    margin-top: 30px;
}

.box6 {
    display: flex;
    align-items: center;
}

.app {
    display: flex;
    align-items: center; 
}

.app img {
    width: 230px;
    height: 230px;
    margin-left: 40px;
}

.appsDisponivei {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-left: 45px;
    align-items: center
}
